{% extends 'base.html.twig' %}

{% block body %}
	{% if hotel %}
    	<H2>{{hotel.getVille}}</H2>
    	<ul>
	        <li>{{ hotel.pays }}
    	    </li>
    	    <li>{{ hotel.adresse }}
    	    </li>
    	    <li>{{ hotel.description }}
    	    </li>
    	    <li>{{ hotel.prix }}
    	    </li>
    	    <li>{{ hotel.chambres.count }} chambres
    	    </li>
    	</ul>
	{% else %}
    	<H2>HOTEL NOT FOUND !!!! </H2>
	{% endif %}    	
{% endblock %}
