{% extends '::base.html.twig' %}

{% block body %}

	<ul>
    {% for hotel in hotels %}
    	<a href="{{ path('hotel.detail', { 'ville': hotel.ville }) }}">
	    	<li>
        	<h2>{{ hotel.ville }} ({{ hotel.chambres.count }} chambres)</h2>
    	    </li>
    	    <li>{{ hotel.pays }}
    	    </li>
    	     <li>{{ hotel.description }}
    	    </li>
    	    <li>Prix de la chambre : {{ hotel.prix }}
    	    </li>
        </a>
    {% endfor %}
	</ul>
{% endblock %}
